In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv("nycweatherdata.csv")

In [3]:
df.head(10)

       STATION     DATE  TMAX  TMIN
0  USW00094728   1/1/13    40    26
1  USW00094728   1/2/13    33    22
2  USW00094728   1/3/13    32    24
3  USW00094728   1/4/13    37    30
4  USW00094728   1/5/13    42    32
5  USW00094728   1/6/13    46    34
6  USW00094728   1/7/13    45    37
7  USW00094728   1/8/13    48    35
8  USW00094728   1/9/13    49    39
9  USW00094728  1/10/13    47    40

In [4]:
df.dtypes

STATION    object
DATE       object
TMAX        int64
TMIN        int64
dtype: object

In [5]:
## Change date type to DATETIME to be able to query later

df['DATE'] = df['DATE'].astype('datetime64[ns]')

In [6]:
df.head()

       STATION       DATE  TMAX  TMIN
0  USW00094728 2013-01-01    40    26
1  USW00094728 2013-01-02    33    22
2  USW00094728 2013-01-03    32    24
3  USW00094728 2013-01-04    37    30
4  USW00094728 2013-01-05    42    32

In [7]:
df.dtypes

STATION            object
DATE       datetime64[ns]
TMAX                int64
TMIN                int64
dtype: object

In [15]:
## Checking to see if we can filter by given year

yr_2013 = df[df['DATE'].dt.year == 2013]
yr_2013

         STATION       DATE  TMAX  TMIN
0    USW00094728 2013-01-01    40    26
1    USW00094728 2013-01-02    33    22
2    USW00094728 2013-01-03    32    24
3    USW00094728 2013-01-04    37    30
4    USW00094728 2013-01-05    42    32
5    USW00094728 2013-01-06    46    34
6    USW00094728 2013-01-07    45    37
7    USW00094728 2013-01-08    48    35
8    USW00094728 2013-01-09    49    39
9    USW00094728 2013-01-10    47    40
10   USW00094728 2013-01-11    46    37
11   USW00094728 2013-01-12    47    42
12   USW00094728 2013-01-13    50    43
13   USW00094728 2013-01-14    56    38
14   USW00094728 2013-01-15    38    35
15   USW00094728 2013-01-16    37    32
16   USW00094728 2013-01-17    43    35
17   USW00094728 2013-01-18    35    25
18   USW00094728 2013-01-19    51    30
19   USW00094728 2013-01-20    53    30
20   USW00094728 2013-01-21    32    26
21   USW00094728 2013-01-22    27    13
22   USW00094728 2013-01-23    20    11
23   USW00094728 2013-01-24    22    12
24   USW00094728 2013-01-25    24    13
25   USW00094728 2013-01-26    27    15
26   USW00094728 2013-01-27    34    19
27   USW00094728 2013-01-28    36    29
28   USW00094728 2013-01-29    49    36
29   USW00094728 2013-01-30    59    39
..           ...        ...   ...   ...
335  USW00094728 2013-12-02    49    41
336  USW00094728 2013-12-03    53    38
337  USW00094728 2013-12-04    52    41
338  USW00094728 2013-12-05    60    48
339  USW00094728 2013-12-06    62    37
340  USW00094728 2013-12-07    41    32
341  USW00094728 2013-12-08    33    29
342  USW00094728 2013-12-09    39    31
343  USW00094728 2013-12-10    37    30
344  USW00094728 2013-12-11    33    27
345  USW00094728 2013-12-12    30    23
346  USW00094728 2013-12-13    35    23
347  USW00094728 2013-12-14    34    22
348  USW00094728 2013-12-15    40    30
349  USW00094728 2013-12-16    33    25
350  USW00094728 2013-12-17    32    24
351  USW00094728 2013-12-18    37    23
352  USW00094728 2013-12-19    47    30
353  USW00094728 2013-12-20    53    41
354  USW00094728 2013-12-21    65    51
355  USW00094728 2013-12-22    71    61
356  USW00094728 2013-12-23    64    42
357  USW00094728 2013-12-24    42    26
358  USW00094728 2013-12-25    31    19
359  USW00094728 2013-12-26    36    30
360  USW00094728 2013-12-27    40    31
361  USW00094728 2013-12-28    55    36
362  USW00094728 2013-12-29    48    41
363  USW00094728 2013-12-30    45    23
364  USW00094728 2013-12-31    32    21

[365 rows x 4 columns]

In [16]:
## Further filtering to check if we can then filter by month given the year

yr_2013_jan = yr_2013[df['DATE'].dt.month == 1]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
yr_2013_jan

        STATION       DATE  TMAX  TMIN
0   USW00094728 2013-01-01    40    26
1   USW00094728 2013-01-02    33    22
2   USW00094728 2013-01-03    32    24
3   USW00094728 2013-01-04    37    30
4   USW00094728 2013-01-05    42    32
5   USW00094728 2013-01-06    46    34
6   USW00094728 2013-01-07    45    37
7   USW00094728 2013-01-08    48    35
8   USW00094728 2013-01-09    49    39
9   USW00094728 2013-01-10    47    40
10  USW00094728 2013-01-11    46    37
11  USW00094728 2013-01-12    47    42
12  USW00094728 2013-01-13    50    43
13  USW00094728 2013-01-14    56    38
14  USW00094728 2013-01-15    38    35
15  USW00094728 2013-01-16    37    32
16  USW00094728 2013-01-17    43    35
17  USW00094728 2013-01-18    35    25
18  USW00094728 2013-01-19    51    30
19  USW00094728 2013-01-20    53    30
20  USW00094728 2013-01-21    32    26
21  USW00094728 2013-01-22    27    13
22  USW00094728 2013-01-23    20    11
23  USW00094728 2013-01-24    22    12
24  USW00094728 2013-01-25    24    13
25  USW00094728 2013-01-26    27    15
26  USW00094728 2013-01-27    34    19
27  USW00094728 2013-01-28    36    29
28  USW00094728 2013-01-29    49    36
29  USW00094728 2013-01-30    59    39
30  USW00094728 2013-01-31    61    30

In [18]:
df

          STATION       DATE  TMAX  TMIN
0     USW00094728 2013-01-01    40    26
1     USW00094728 2013-01-02    33    22
2     USW00094728 2013-01-03    32    24
3     USW00094728 2013-01-04    37    30
4     USW00094728 2013-01-05    42    32
5     USW00094728 2013-01-06    46    34
6     USW00094728 2013-01-07    45    37
7     USW00094728 2013-01-08    48    35
8     USW00094728 2013-01-09    49    39
9     USW00094728 2013-01-10    47    40
10    USW00094728 2013-01-11    46    37
11    USW00094728 2013-01-12    47    42
12    USW00094728 2013-01-13    50    43
13    USW00094728 2013-01-14    56    38
14    USW00094728 2013-01-15    38    35
15    USW00094728 2013-01-16    37    32
16    USW00094728 2013-01-17    43    35
17    USW00094728 2013-01-18    35    25
18    USW00094728 2013-01-19    51    30
19    USW00094728 2013-01-20    53    30
20    USW00094728 2013-01-21    32    26
21    USW00094728 2013-01-22    27    13
22    USW00094728 2013-01-23    20    11
23    USW00094728 2013-01-24    22    12
24    USW00094728 2013-01-25    24    13
25    USW00094728 2013-01-26    27    15
26    USW00094728 2013-01-27    34    19
27    USW00094728 2013-01-28    36    29
28    USW00094728 2013-01-29    49    36
29    USW00094728 2013-01-30    59    39
...           ...        ...   ...   ...
2342  USW00094728 2019-06-01    80    63
2343  USW00094728 2019-06-02    81    61
2344  USW00094728 2019-06-03    70    58
2345  USW00094728 2019-06-04    70    54
2346  USW00094728 2019-06-05    81    64
2347  USW00094728 2019-06-06    83    68
2348  USW00094728 2019-06-07    81    66
2349  USW00094728 2019-06-08    81    63
2350  USW00094728 2019-06-09    78    60
2351  USW00094728 2019-06-10    70    60
2352  USW00094728 2019-06-11    77    63
2353  USW00094728 2019-06-12    74    59
2354  USW00094728 2019-06-13    65    55
2355  USW00094728 2019-06-14    73    58
2356  USW00094728 2019-06-15    81    60
2357  USW00094728 2019-06-16    80    65
2358  USW00094728 2019-06-17    76    69
2359  USW00094728 2019-06-18    73    67
2360  USW00094728 2019-06-19    71    66
2361  USW00094728 2019-06-20    78    65
2362  USW00094728 2019-06-21    77    65
2363  USW00094728 2019-06-22    79    61
2364  USW00094728 2019-06-23    83    64
2365  USW00094728 2019-06-24    84    67
2366  USW00094728 2019-06-25    84    72
2367  USW00094728 2019-06-26    87    72
2368  USW00094728 2019-06-27    89    71
2369  USW00094728 2019-06-28    89    73
2370  USW00094728 2019-06-29    91    72
2371  USW00094728 2019-06-30    83    69

[2372 rows x 4 columns]